<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172945682634-3gvmnj2f00q9gfq7nemfk6nglkpaj6o0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172945682634-3gvmnj2f00q9gfq7nemfk6nglkpaj6o0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>172945682634-0unlg4mp2rfql9ofqcm31g6u8bi5jtll.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbQ0GJW0NCsI9_3tzioy40i-oaEOv6m5A</string>
	<key>GCM_SENDER_ID</key>
	<string>172945682634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chalotech.tiyedaAdmin</string>
	<key>PROJECT_ID</key>
	<string>tiyenda-3c24c</string>
	<key>STORAGE_BUCKET</key>
	<string>tiyenda-3c24c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172945682634:ios:e50d8e571d8c06c670c433</string>
	<key>DATABASE_URL</key>
	<string>https://tiyenda-3c24c.firebaseio.com</string>
</dict>
</plist>